<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- Mobile Specific Metas -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <title>Loan Application</title>
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" th:href="@{/images/logo.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/logo.png}"/> <!-- Font -->
    <link rel="stylesheet" th:href="@{/fonts/fonts.css}"/> <!-- Icons -->
    <link rel="stylesheet" th:href="@{/fonts/icons-alipay.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css"/>
    <link rel="apple-touch-icon" sizes="192x192" th:href="@{/app/icons/icon-192x192.png}">

    <style>
        .amount::-webkit-slider-thumb {
            background: #5BC99A !important;
        }

        .amount::-moz-range-thumb {
            background: #5BC99A !important;
        }

        .tenor::-webkit-slider-thumb {
            background: #8d2cba !important;
        }

        .tenor::-moz-range-thumb {
            background: #8d2cba !important;
        }

        .errorText {
            color: red;
            margin-top: 5px;
            display: none;
        }

        .errorInput {
            border-color: red !important;
        }
    </style>
</head>

<body>
<!-- preloader -->
<div class="preloader js-preloader">
    <div class="loader loader-inner-1">
        <div class="loader loader-inner-2">
            <div class="loader loader-inner-3">
            </div>
        </div>
    </div>
</div>
<!-- /preload -->

<div>
    <div class="bill-payment-content">
        <div class="tf-container">
            <div class="tf-spacing-12"></div>
            <ul class="list-card-info">
                <li>Name <span th:text="${#session.getAttribute('fname')}"></span></li>
                <li>Surname <span th:text="${#session.getAttribute('lname')}"></span></li>
                <li>National ID# <span th:text="${#session.getAttribute('nationalId')}"></span></li>
                <li>Phone <span th:text="${#session.getAttribute('mobileNumber')}"></span></li>
                <li>Date Of Birth <span th:text="${#session.getAttribute('dob')}"></span></li>
            </ul>
            <form class="tf-form mt-5">

                <div class="group-input">
                    <label>Purpose of Loan</label>
                    <select id="purposeOfLoan" name="purposeOfLoan">
                        <option value="HOME_IMPROVEMENT">Home Improvement</option>
                        <option value="MEDICAL">Medical</option>
                        <option value="PERSONAL_USE">Personal Use</option>
                        <option value="PREMIUMS">Premiums</option>
                        <option value="SCHOOL_FEES">School Fees</option>
                        <option value="VACATION">Vacation</option>
                        <option value="WEDDING_EXPENSES">Wedding Expenses</option>
                    </select>
                </div>

                <div class="group-double-ip">
                    <div class="group-input">
                        <label>EC Number</label>
                        <input id="ecnumber" name="ecnumber" type="text">
                        <p class="errorText text-center" id="errorText"></p>
                    </div>
                    <div class="group-input">
                        <label>Required Amount</label>
                        <input class="valid-number amount" id="amount" name="amount"
                               style="text-align: right" type="text">
                        <p class="errorText text-center" id="errorAmount">$20.00-$2,000.00</p>
                    </div>
                </div>

                <div class="group-double-ip mb-2">
                    <div class="group-input">
                        <label>Tenor in Months</label>
                        <input class="valid-number tenor" id="tenor" name="tenor" style="text-align: right" type="text">
                        <p class="errorText text-center" id="tenorError">1-24</p>
                    </div>
                    <div class="group-input">
                        <label for="">Monthly Deduction</label>
                        <input disabled id="repayment_amount"
                               style="color: #d92e40; font-weight: bolder; text-align: right" type="text">
                    </div>
                </div>

                <div class="group-double-ip mb-2">
                    <div class="group-input mb-0">
                        <label>Station Number</label>
                        <input class="valid-number tenor" id="stationNumber" name="stationNumber"
                               style="text-align: right" type="text">
                        <p class="errorText text-center" id="tenorError">1-24</p>
                    </div>

                    <div class="group-input mb-0">
                        <label>Dept Code No.</label>
                        <input class="valid-number tenor" id="dptCode" name="dptCode" style="text-align: right"
                               type="text">
                        <p class="errorText text-center" id="tenorError">1-24</p>
                    </div>
                </div>

                <div class="group-checkbox mb-2">
                    <input class="tf-checkbox st1" id="agreeToSSB" type="checkbox">
                    <span class="fw_3 terms_and_conditions" style="display: block !important;"> I agree to monthly SSB Deductions</a></span>
                </div>

                <div class="group-checkbox mb-2">
                    <input class="tf-checkbox st1" id="termsAndConditions" type="checkbox">
                    <span class="fw_3 terms_and_conditions" style="display: block !important;"> I understand and accept the <a
                            class="terms_and_conditions fw_7 clear-panel" data-dismiss="modal" data-target="#modalhome2"
                            data-toggle="modal" href="#">Terms & Conditions</a></span>
                </div>

                <div class="input-field d-flex align-items-center" id="canvas_wrapper"
                     style="border: 1px dashed; border-radius: 8px;">
                    <h6>Sign here</h6>
                    <canvas class="w-100" height="50" id="signaturePad"></canvas>
                </div>
                <div class="group-input mb-2">
                    <a class="link style1" href="#" id="clear_signature">Clear Signature</a>
                </div>

                <input id="commissionRate" th:value="${#session.getAttribute('commission_rate')}" type="hidden">
                <input id="adminFeeRate" th:value="${#session.getAttribute('admin_fee_rate')}" type="hidden">
                <input id="monthlyInterestRate" th:value="${#session.getAttribute('monthly_interest_rate')}"
                       type="hidden">
                <input id="mobileNumber" th:value="${#session.getAttribute('mobileNumber')}" type="hidden">
                <input id="nationalId" name="nationalId" th:value="${#session.getAttribute('nationalId')}"
                       type="hidden">
                <input id="minimum_loan_amount" th:value="${#session.getAttribute('minimum_loan_amount')}"
                       type="hidden">
                <input id="maximum_loan_amount" th:value="${#session.getAttribute('maximum_loan_amount')}"
                       type="hidden">
                <input id="maximum_loan_tenor" th:value="${#session.getAttribute('maximum_loan_tenor')}" type="hidden">
                <input id="minimum_loan_tenor" th:value="${#session.getAttribute('minimum_loan_tenor')}" type="hidden">

                <div class="bottom-navigation-bar bottom-btn-fixed st2">
                    <button class="tf-btn accent large" id="btn-popup-down" type="button">Apply
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalhome2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="heading">
                <h2>Terms & Conditions</h2>
                <p class="mt-1 fw_3">
                    I hereby request InnBucks MicroBank Limited (hereinafter referred to as "the creditor") to open an
                    FCA Account in my name and I agree to abide by the following terms and conditions as well as any
                    other conditions as may come into being from time to time
                </p>
                <p class="mt-1 fw_3">
                    1. I declare that the information furnished is true and correct and all documentation provided in
                    support of my application, is true and correct and I have not provided any false, inaccurate,
                    fictitious and/or invalid information in this Agreement, nor have I forged any documents provided to
                    the creditor in support of this application
                </p>
                <p class="mt-1 fw_3">
                    2. I undertake to inform the creditor of any changes thereto as well as any facts or circumstances
                    in future that may impact my legal status as a Borrower
                </p>
                <p class="mt-1 fw_3">
                    3. Indemnify the creditor against any liability for any loss or damage suffered by me as a result of
                    Inaccurate or incomplete information contained herein
                </p>
                <p class="mt-1 fw_3">
                    4. Interest rate shall be calculated at a rate of 10% per month on the daily balance outstanding
                    from time to time. The creditor reserves the right to alter the interest rate charged in line with
                    prevailing market or other conditions. Further, the creditor may at any given time give notice
                    through the debtor's statement or an advertisement of such changes
                </p>
                <p class="mt-1 fw_3">
                    5. Administration fee of 5% insurance fee of 1% respectively Hat on the total amount lent shall be
                    payable in advance as a once-off upfront deduction from the loan amount lent
                </p>
                <p class="mt-1 fw_3">
                    6. Agree that the creditor may deduct from any new loan any and all amounts outstanding from
                    previous loans before disbursing any new loan values and the terms hereof will apply to such new
                    loan amounts disbursed to me
                </p>
                <p class="mt-1 fw_3">
                    7. Agree that my employer will deduct the repayment amount as approved by the creditor or any
                    additional charges from my salary through the Employers payroll
                </p>
                <p class="mt-1 fw_3">
                    8. Agree that if my employment is terminated, the full outstanding balance of the loan and whatever
                    amounts are owed in respect of interest and insurance will be recoverable from me and my employer
                    will deduct such amounts and remit them to the creditor, I agree that the creditor may employ
                    independent contractors and agents to perform any obligations under this Loan Agreement
                </p>
                <p class="mt-1 fw_3">
                    9. Authorize the creditor to make any independent information verification and generally make
                    whatever enquiries it deems necessary from any source whatsoever and may supply information
                    regarding the Facility and my compliance to otherwise with the terms and conditions of the creditor
                    to other banks or any Credit Bureau, subject to any applicable legislation, Code of Conduct or
                    Practice
                </p>
                <p class="mt-1 fw_3">
                    10: Understand that in the event of any information proving to be inaccurate, the creditor reserves
                    the right to decline this application without disclosing the reasons thereal;
                </p>
                <p class="mt-1 fw_3">
                    11. Understand, consent and acknowledge that notwithstanding a change in the currency or legal
                    fender in use in Zimbabwe, the loan shall be repayable in the currency in which it was loaned,
                    specifically United States Dollars (USD)
                </p>
                <p class="mt-1 fw_3">
                    12. Hereby acknowledge and agree that a certificate under the hand of any authorized officer of the
                    creditor as to the existence and the amounts of the indebtedness of the Borrower to the creditor at
                    any time, as to the fact that such amount is due and payable, the amount and interest accrued
                    thereon and as to any other fact, matter or thing relating to the indebtedness of the Borrower to
                    the creditor, shall be prima facie proof of the contents and correctness thereal and of the amounts
                    of the Borrower's indebtedness for the purpose of provisional sentence or summary judgment or any
                    other proceedings against the Borrower in any competent court, and shall be valid as a liquid
                    document for such purposes. Such a certificate shall be deemed to be of sufficient particulanty for
                    the purpose of pleading or trial in any action or other proceedings instituted by the creditor
                    against the Borrower,
                </p>
                <p class="mt-1 fw_3">
                    13. hereby renounce any benefits arising from legal exceptions, including non-numerate precurat
                    (full payment did not follow), non-causa debili Chere is no reason for the obligation). De duobus
                    vel pluribus reis debendi (the benefit of being sued together), errori calculi (revision of accounts
                    and errors of calculation), and all other exceptions that the debtor could plead in his/her defense
                    or bar to the payment of liability.
                </p>
                <p class="mt-1 fw_3">
                    14. The Creditor has the right to cede or assign any rights under this loan to any person and in
                    such event agree to accept such assignee or cessionary in the Creditor's place. agree that this
                    option is not available to me without the Creditor's express prior approval in writing
                </p>
                <p class="mt-1 fw_3">
                    15. shall be liable for the payment of all expenses incurred by the creditor in exercising any right
                    against me in respect of any breach of these conditions, including all legal charges on the
                    attomey/client scale, debt collection/attorney collection charges and tracing charges
                </p>
                <p class="mt-1 fw_3">
                    16, L agree and consent, in terms of 11(1) (c) of the Magistrates Court Act (Chapter 18) that the
                    Creditor shall be entitled at its option to institute any proceedings arising out of or in
                    connection with this agreement in the provincial Magistrate's Court
                </p>
                <p class="mt-1 fw_3">
                    17. hereby choose domicilium citandi et executandi at the address specified above. In the event that
                    this changes am obligated to inform the Creditor within 24 hours of such change
                </p>
                <p class="mt-1 fw_3">
                    18. By appending my signature hereto undertake that agree to the terms and conditions contained in
                    this Agreement, of which have read and understood the meaning thereof;
                </p>
            </div>
            <div class="bottom mt-5">
                <a class="tf-btn accent large" data-dismiss="modal" href="#">I Accept</a>
            </div>
        </div>
    </div>
</div>

<div class="tf-panel down">
    <div class="panel_overlay"></div>
    <div class="panel-box panel-down">
        <div class="header">
            <div class="tf-container">
                <div class="tf-statusbar d-flex justify-content-center align-items-center">
                    <a class="clear-panel" href="#"> <i class="icon-close1"></i> </a>
                    <h3>Please Confirm</h3>
                </div>

            </div>
        </div>

        <div class="mt-5">
            <div class="tf-container">
                <form action="50_successful.html" class="tf-form-verify">
                    <div class="text-send-code">
                        <p class="fw_4">
                            Are you sure you want to proceed with applying for this loan?</p>
                    </div>
                    <div class="mt-7 mb-6">
                        <button class="tf-btn accent" id="btnSubmitApplication"
                                type="button">Proceed
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>


<script th:src="@{/js/signature_pad.min.js}"></script>

<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/main.js}" th:version="${#dates.createNow().getTime()}" type="text/javascript"></script>


<script th:inline="javascript">

    let canvas = document.getElementById('signaturePad');

    var signaturePad = new SignaturePad(canvas, {
        penColor: "rgb(66, 133, 244)"
    });

    signaturePad.addEventListener("endStroke", () => {
        ensureValidFormInput();
    }, {once: false});

    var button = document.getElementById('clear_signature');

    button.onclick = function () {
        signaturePad.clear();
        ensureValidFormInput();
    };

    $('#btn-popup-down').hide();

    function calculateLoan() {
        const loanData = {
            amount: parseFloat($('#amount').val()),
            ecnumber: $('#ecnumber').val(),
            mobileNumber: $('#mobileNumber').val(),
            tenor: parseInt($('#tenor').val()),
            commissionRate: parseFloat($('#commissionRate').val()),
            adminFeeRate: parseFloat($('#adminFeeRate').val()),
            monthlyInterestRate: parseFloat($('#monthlyInterestRate').val())
        };

        if (isNaN(loanData.amount) || isNaN(loanData.tenor)) {
            $('#repayment_amount').val('');
            return;
        }

        var loanAmount = calculatePrincipal(loanData.amount, loanData.adminFeeRate);
        var repayment = calculateRepayment(loanAmount, loanData.monthlyInterestRate, loanData.tenor);
        loanData.regularRepayment = repayment;
        var grossedMonthlyPayment = repayment / (1 - loanData.commissionRate / 100.00);

        $('#principal_amount').text(formatCurrency(loanAmount));
        $('#repayment_amount').val(formatCurrency(grossedMonthlyPayment));
        $('#repayment_amount_2').text(formatCurrency(grossedMonthlyPayment));
        $('#disbursed_amount').text(formatCurrency(loanData.amount));
    }

    function formatCurrency(amount) {
        const numericAmount = Number(amount);
        if (isNaN(numericAmount)) {
            return 'Invalid amount';
        }
        const formattedAmount = numericAmount.toLocaleString('en-ZW', {
            style: 'currency',
            currency: 'USD'
        });
        return formattedAmount;
    }

    function calculatePrincipal(amount, adminFeeRate) {
        return amount / (1 - adminFeeRate / 100);
    }

    function calculateRepayment(principal, rate, tenor) {
        const monthlyRate = rate / 100;
        const numPayments = tenor;
        const repayment = (principal * monthlyRate) / (1 - Math.pow(1 + monthlyRate, -numPayments));
        return repayment.toFixed(2);
    }


    function ensureValidFormInput() {

        $('#btn-popup-down').hide();

        var valid = true;

        $(".errorInput").removeClass("errorInput");
        $(".errorText").hide();
        $(".terms_and_conditions").removeClass("critical_color");

        if (!validateEcNumber()) {
            valid = false;
        }

        var amountValue = parseFloat($('#amount').val());
        if (isNaN(amountValue) || amountValue < $("#minimum_loan_amount").val() || amountValue > $("#maximum_loan_amount").val()) {
            valid = false;
            $("#amount").addClass("errorInput");
            $("#errorAmount").show();
        }

        var tenor = parseInt($('#tenor').val());
        if (isNaN(tenor) || tenor < $("#minimum_loan_tenor").val() || tenor > $("#maximum_loan_tenor").val()) {
            $("#tenor").addClass("errorInput");
            $("#tenorError").show();
            valid = false;
        }

        var checkbox = document.getElementById("termsAndConditions");
        if (!checkbox.checked) {
            $("#termsAndConditions").addClass("errorInput");
            $(".terms_and_conditions").addClass("critical_color");
            valid = false;
        }

        if (signaturePad.isEmpty()) {
            $("#canvas_wrapper").addClass("errorInput");
            valid = false;
        }

        if (!valid) {
            return;
        }

        $('#btn-popup-down').show();
    }


    function saveSignature() {
        var signatureData = signaturePad.toDataURL();

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/apply';
        form.style.display = 'none';

        var signature_input = document.createElement('input');
        signature_input.type = 'hidden';
        signature_input.name = 'signatureData';
        signature_input.value = signatureData;

        var ecnumber_input = document.getElementById('ecnumber');

        var amount_input = document.getElementById('amount');

        var mobileNumber_input = document.getElementById('mobileNumber');
        var tenor_input = document.getElementById('tenor');
        var nationalId_input = document.getElementById('nationalId');

        var purposeOfLoan_Input = document.getElementById('purposeOfLoan');

        form.appendChild(amount_input);
        form.appendChild(ecnumber_input);
        form.appendChild(mobileNumber_input);
        form.appendChild(signature_input);
        form.appendChild(tenor_input);
        form.appendChild(nationalId_input);
        form.appendChild(purposeOfLoan_Input);

        document.body.appendChild(form);

        form.submit();
    }

    $('form :input').on("change", function () {
        ensureValidFormInput();
    });

    $("#tenor").on("keyup", function (event) {
        $(this).removeClass("errorInput");
        const inputValue = Number($(this).val());
        var minValue = $("#minimum_loan_tenor").val();
        var maxValue = $("#maximum_loan_tenor").val();

        if (isNaN(inputValue) || inputValue < minValue || inputValue > maxValue) {
            $("#tenorError").show();
            $(this).addClass("errorInput");
        } else {
            $("#tenorError").hide();
            calculateLoan();
        }
    });

    $("#amount").on("keyup", function (event) {
        $(this).removeClass("errorInput");
        const inputValue = Number($(this).val());

        var minimum_loan_amount = $("#minimum_loan_amount").val();
        var maximum_loan_amount = $("#maximum_loan_amount").val();

        if (isNaN(inputValue) || inputValue < minimum_loan_amount || inputValue > maximum_loan_amount) {
            $("#errorAmount").show();
            $(this).addClass("errorInput");
        } else {
            $("#errorAmount").hide();
            calculateLoan();
        }
    });

    $("#ecnumber").on("keyup", function () {
        validateEcNumber();
    });

    $("#btnSubmitApplication").on("click", function () {
        saveSignature();
    });


    function validateEcNumber() {
        let ecnumber = $("#ecnumber");
        var inputValue = ecnumber.val();
        var pattern = /^[0-9]{7}[a-zA-Z]$/;
        if (!pattern.test(inputValue)) {
            $("#errorText").text("Incorrect format").show();
            ecnumber.addClass("errorInput");
            return false;
        } else {
            $("#errorText").hide();
            ecnumber.removeClass("errorInput");
            return true;
        }
    }

</script>

</body>

</html>