/*---------------------------------
        Footer CSS 
-----------------------------------*/
.newsletter-wrap {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.newsletter-wrap .newsletter-shape-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.newsletter-wrap .newsletter-form {
  position: relative;
}

.newsletter-wrap .newsletter-form input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 146, 135, 0.3);
  color: #666666;
  text-align: left;
  padding: 15px 128px 12px 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.newsletter-wrap .newsletter-form input::-webkit-input-placeholder {
  opacity: 1;
  color: #666666;
}

.newsletter-wrap .newsletter-form input:-ms-input-placeholder {
  opacity: 1;
  color: #666666;
}

.newsletter-wrap .newsletter-form input::-ms-input-placeholder {
  opacity: 1;
  color: #666666;
}

.newsletter-wrap .newsletter-form input::placeholder {
  opacity: 1;
  color: #666666;
}

.newsletter-wrap .newsletter-form input:focus {
  border-color: #009287;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.09);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.09);
}

.newsletter-wrap .newsletter-form button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  padding: 5px 28px;
  height: calc(100% - 10px);
  background-color: #009287;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.footer-wrap {
  position: relative;
  z-index: 1;
}

.footer-wrap .container {
  position: relative;
}

.footer-wrap .footer-widget {
  margin-bottom: 25px;
}

.footer-wrap .footer-widget .footer-widget-title {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}

.footer-wrap .footer-widget .footer-widget-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 55px;
  height: 2px;
  background-color: #fff;
}

.footer-wrap .footer-widget .footer-logo {
  margin-bottom: 15px;
  display: block;
}

.footer-wrap .footer-widget .comp-desc {
  color: rgba(255, 255, 255, 0.8);
  margin: 26px 0 25px;
  padding-right: 10px;
  font-size: 15px;
}

.footer-wrap .footer-widget .social-profile li:first-child {
  margin-left: 0;
}

.footer-wrap .footer-widget .social-profile li a {
  font-size: 20px;
}

.footer-wrap .footer-widget .social-profile li a:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.footer-wrap .footer-widget .footer-menu.style2 {
  -webkit-columns: 2;
          columns: 2;
}

.footer-wrap .footer-widget .footer-menu li {
  margin-bottom: 15px;
}

.footer-wrap .footer-widget .footer-menu li:last-child {
  margin-bottom: 0;
}

.footer-wrap .footer-widget .footer-menu li a {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding-left: 15px;
  font-size: 15px;
}

.footer-wrap .footer-widget .footer-menu li a:after {
  position: absolute;
  bottom: -5px;
  left: -5px;
  content: "";
  width: 0;
  height: 1px;
  background-color: #009287;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-wrap .footer-widget .footer-menu li a i {
  position: absolute;
  top: -3px;
  left: -5px;
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-wrap .footer-widget .footer-menu li a:hover {
  color: #009287;
}

.footer-wrap .footer-widget .footer-menu li a:hover:after {
  visibility: visible;
  opacity: 1;
  width: calc(100% + 5px);
}

.footer-wrap .footer-widget .footer-menu li a:hover i {
  color: #009287;
}

.footer-wrap .footer-widget .contact-info {
  margin-bottom: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 15px;
}

.footer-wrap .footer-widget .contact-info b {
  font-weight: 500;
  color: #fff;
  margin-right: 5px;
}

.footer-wrap .footer-widget .contact-info a {
  color: rgba(255, 255, 255, 0.8);
}

.footer-wrap .footer-widget .contact-info:last-child {
  margin-bottom: 0;
}

.copyright-text {
  padding: 18px 10px;
  text-align: center;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright-text i {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.copyright-text a {
  color: #009287;
  font-weight: 600;
}

.copyright-text a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .newsletter-wrap .newsletter-form input {
    height: 54px;
    padding: 12px 15px 12px 15px;
  }
  .newsletter-wrap .newsletter-form button {
    position: relative;
    top: auto;
    right: auto;
    padding: 14px 20px;
    height: auto;
    font-size: 14px;
    display: block;
    width: 100%;
    margin: 15px 0 0;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer-wrap .footer-widget .footer-widget-title {
    font-size: 18px;
    margin-bottom: 18px;
    padding-bottom: 10px;
  }
  .footer-wrap .footer-widget .comp-desc {
    font-size: 14px;
    padding-right: 0;
    margin: 18px 0 15px;
  }
  .footer-wrap .footer-widget .contact-info {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .footer-wrap .footer-widget .footer-menu li {
    margin-bottom: 8px;
  }
  .footer-wrap .footer-widget .footer-menu li a {
    font-size: 14px;
  }
  .footer-wrap .footer-widget .footer-menu li a i {
    font-size: 14px;
    top: -3px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-wrap .footer-widget .footer-widget-title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .footer-wrap .footer-widget .comp-desc {
    margin: 15px 0 15px;
    padding-right: 22px;
  }
}

@media only screen and (max-width: 991px) {
  .newsletter-wrap .content-title {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-wrap .footer-widget .footer-widget-title {
    font-size: 22px;
  }
  .footer-wrap .footer-widget .comp-desc {
    padding-right: 75px;
  }
}

@media only screen and (max-width: 1199px) {
  .footer-wrap .footer-top .footer-widget .footer-widget-title {
    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-wrap .footer-widget .comp-desc {
    padding-right: 35px;
  }
  .footer-wrap .footer-widget .footer-menu.style2 {
    padding-right: 20px;
  }
}
/*# sourceMappingURL=footer.css.map */