/*---------------------------------
          Mixins & Animation CSS
-----------------------------------*/
@media only screen and (max-width: 375px) {
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .checkbox label,
  .checkbox label a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 575px) {
  .xs-center {
    text-align: center;
  }
  .xs-none {
    display: none;
  }
  .section-title span,
  .content-title span {
    font-size: 14px;
  }
  .content-wrapper {
    margin-top: 10px;
  }
  .breadcrumb-wrap .breadcrumb-title {
    padding: 70px 0 50px;
  }
  .breadcrumb-wrap .breadcrumb-title .breadcrumb-menu li {
    font-size: 14px;
  }
  .breadcrumb-wrap .breadcrumb-title .breadcrumb-menu li a {
    font-size: 14px;
  }
  .breadcrumb-img {
    display: none;
  }
  .page-navigation {
    margin: 15px 0 0;
  }
  .page-navigation .page-nav li a {
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
  }
  .page-navigation .page-nav li a i {
    font-size: 20px;
    line-height: 38px;
  }
  .counter-card-wrap .counter-card {
    width: 50%;
  }
  .counter-card-wrap .counter-card:nth-child(1), .counter-card-wrap .counter-card:nth-child(2) {
    margin-bottom: 25px;
  }
  .app-wrap .download-app-btn a:first-child {
    margin-right: 10px;
  }
  .app-wrap .download-app-btn a img {
    max-width: 115px;
  }
  .faq-img-wrap {
    height: 360px;
  }
  .wp-block-quote {
    padding: 20px 20px 20px;
    margin: 25px 0 25px;
  }
  .wp-block-quote .wp-quote-text {
    width: 100%;
    margin-right: 0;
  }
  .wp-block-quote .wp-quote-text h6 {
    font-size: 14px;
    padding-left: 50px;
  }
  .wp-block-quote .wp-quote-text h6:before {
    width: 35px;
  }
  .wp-block-quote .wp-quote-icon {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .wp-block-quote .wp-quote-icon i {
    font-size: 32px;
    margin-left: auto;
    margin-right: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container-fluid {
    max-width: 540px;
    padding: 0 15px;
  }
  .breadcrumb-title {
    padding: 70px 0 80px;
  }
  .breadcrumb-img {
    max-width: 220px;
  }
  .content-wrapper {
    margin-top: 158px;
  }
  .faq-img-wrap {
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  p, input, textarea {
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
  }
  .sm-none {
    display: none !important;
  }
  .sm-center {
    text-align: center !important;
  }
  .smt-20 {
    margin-top: 20px;
  }
  .smb-70 {
    margin-bottom: 50px !important;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-50 {
    padding-bottom: 0px;
  }
  .pb-60 {
    padding-bottom: 15px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .mt-100 {
    margin-top: 50px !important;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pb-75 {
    padding-bottom: 25px;
  }
  .pb-50 {
    padding-bottom: 0px;
  }
  .pt-75 {
    padding-top: 25px;
  }
  .mb-40 {
    margin-bottom: 25px !important;
  }
  .section-title.mb-40,
  .content-title.mb-40 {
    margin-bottom: 25px !important;
  }
  .link, .btn {
    font-size: 14px;
  }
  .back-to-top {
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    right: 10px;
  }
  .back-to-top i {
    font-size: 18px;
  }
  .section-title span,
  .content-title span {
    font-size: 13px;
  }
  .section-title h2,
  .content-title h2 {
    font-size: 24px;
  }
  .section-title p,
  .content-title p {
    margin-top: 12px;
  }
  .breadcrumb-title h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .breadcrumb-title .breadcrumb-menu li {
    font-size: 14px;
  }
  .breadcrumb-title .breadcrumb-menu li a {
    font-size: 14px;
  }
  .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    width: 40px;
    height: 40px;
  }
  .owl-carousel .owl-nav button.owl-prev i, .owl-carousel .owl-nav button.owl-next i {
    font-size: 14px;
  }
  .btn {
    padding: 10px 26px 10px;
  }
  .content-feature-list li {
    font-size: 14px;
  }
  .feature-item-wrap .feature-item .feature-text h3,
  .service-card .service-info h3,
  .team-card .team-info h3,
  .blog-card .blog-info h3 {
    font-size: 18px;
  }
  .owl-carousel .owl-dots button.owl-dot {
    margin: 0 6px;
  }
  .hero-wrap .hero-content span {
    font-size: 13px;
    margin-bottom: 4px;
  }
  .hero-wrap .hero-content h1 {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  .hero-wrap .hero-content p {
    margin-bottom: 24px;
  }
  .hero-wrap .hero-content .hero-btn .btn:first-child {
    margin-right: 10px;
  }
  .hero-wrap.style1 {
    margin-top: 102px;
  }
  .hero-wrap.style1:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, white), color-stop(50%, rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, white 20%, rgba(255, 255, 255, 0) 50%);
  }
  .hero-wrap.style1 .hero-content h1 {
    font-size: 26px;
  }
  .hero-wrap.style1 .hero-slide-item {
    padding: 150px 0 90px;
  }
  .hero-wrap.style1 .hero-slide-item:after {
    background: -webkit-gradient(linear, left top, right top, color-stop(45%, rgba(0, 0, 0, 0.95)), color-stop(68%, rgba(0, 0, 0, 0.82)), color-stop(95%, rgba(0, 0, 0, 0.5)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 45%, rgba(0, 0, 0, 0.82) 68%, rgba(0, 0, 0, 0.5) 95%);
  }
  .hero-wrap.style2 {
    margin-top: 155px;
  }
  .hero-wrap.style2 .hero-content h1 {
    font-size: 26px;
  }
  .hero-wrap.style2 .hero-img-wrap img {
    max-width: 90%;
  }
  .hero-wrap.style2 .hero-img-wrap:after {
    height: 65%;
  }
  .hero-wrap.style2 .hero-img-wrap .play-now {
    top: 20%;
    right: 40px;
  }
  .hero-wrap.style3 {
    padding: 65px 0 50px;
    margin-top: 155px;
  }
  .hero-wrap.style3 .hero-content h1 {
    font-size: 26px;
  }
  .hero-wrap.style3 .hero-img-wrap .hero-bg-1 {
    height: 400px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-prev, .hero-slider-one.owl-carousel .owl-nav button.owl-next {
    width: 60px;
    height: 30px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-prev i, .hero-slider-one.owl-carousel .owl-nav button.owl-next i {
    font-size: 20px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: auto;
    bottom: 0;
    left: calc(50% - 75px);
    border-radius: 5px 5px 0 0;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: auto;
    bottom: 0;
    left: calc(50% - 0px);
    right: auto;
    border-radius: 5px 5px 0 0;
  }
  .about-wrap .about-content .content-title {
    margin-bottom: 25px;
  }
  .about-wrap.style1 .about-img-wrap {
    height: 360px;
  }
  .about-wrap.style1 .about-content .content-feature-list {
    margin-bottom: 28px;
  }
  .about-wrap.style2 .about-img-wrap .about-bg-2,
  .about-wrap.style2 .about-img-wrap .about-bg-3,
  .about-wrap.style2 .about-img-wrap .about-bg-4,
  .about-wrap.style2 .about-img-wrap .about-bg-5 {
    height: 200px;
  }
  .about-wrap.style3 .about-content .about-accordion-wrap {
    margin: 0 0 25px;
  }
  .about-wrap.style3 .about-content .about-accordion-wrap .accordion-item {
    margin-bottom: 15px;
  }
  .about-wrap.style3 .about-content .about-accordion-wrap .accordion-item .accordion-header .accordion-button {
    font-size: 16px;
  }
  .about-wrap.style3 .about-content .about-accordion-wrap .accordion-item .accordion-body {
    padding-top: 8px;
  }
  .about-wrap.style4 .about-img-wrap .about-bg-8 {
    height: 300px;
  }
  .about-wrap.style4 .about-img-wrap .about-bg-6 {
    margin-bottom: 25px;
  }
  .about-wrap.style4 .about-img-wrap .about-bg-6,
  .about-wrap.style4 .about-img-wrap .about-bg-7 {
    height: 137.5px;
  }
  .feature-item-wrap .feature-item {
    margin-bottom: 20px;
  }
  .feature-item-wrap .feature-item .feature-icon {
    width: 55px;
    height: 55px;
  }
  .feature-item-wrap .feature-item .feature-icon i {
    font-size: 24px;
  }
  .feature-item-wrap .feature-item .feature-icon span {
    font-size: 17px;
  }
  .feature-item-wrap .feature-item .feature-text {
    width: calc(100% - 70px);
    margin-left: 15px;
  }
  .feature-item-wrap .feature-item .feature-text h3 {
    margin-bottom: 5px;
  }
  .feature-item-wrap.style1 .feature-item .feature-icon {
    width: 55px;
    height: 52px;
  }
  .feature-item-wrap.style1 .feature-item .feature-icon i {
    font-size: 26px;
  }
  .feature-item-wrap.style1 .feature-item .feature-text {
    width: calc(100% - 75px);
  }
  .security-wrap .secure-img-wrap {
    height: 350px;
  }
  .security-wrap .feature-item-wrap.style1 .feature-item .feature-icon i {
    font-size: 26px;
  }
  .security-wrap.style2 .secure-img-wrap {
    height: 350px;
  }
  .security-tablist {
    display: block;
    width: 100%;
  }
  .security-tablist .nav-item {
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
  }
  .security-tablist .nav-item:last-child {
    margin-bottom: 0;
  }
  .security-tablist .nav-item .nav-link {
    display: block;
    width: 100%;
  }
  .service-feature-wrap .service-feature-img img {
    max-width: 90%;
    display: block;
    margin: 0 auto -50px;
  }
  .feature-card {
    padding: 18px 20px 18px 20px;
    position: relative;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
  }
  .feature-card .feature-icon {
    width: 60px;
    height: 60px;
  }
  .feature-card .feature-icon i {
    font-size: 29px;
    line-height: 0.7;
  }
  .feature-card.style3 {
    margin-top: 24px;
  }
  .pricing-card {
    padding: 20px;
  }
  .pricing-card .pricing-header h5 {
    font-size: 16px;
  }
  .pricing-card .pricing-header h2 {
    font-size: 32px;
    margin: 12px 0 0;
  }
  .pricing-card .pricing-header h2 span {
    font-size: 14px;
  }
  .pricing-card .pricing-features {
    margin: 18px 0 25px;
  }
  .pricing-card .pricing-features li {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .pricing-card .btn {
    padding: 13px 15px;
  }
  .why-choose-wrap.style1 .wh-content .content-title {
    margin-bottom: 20px;
  }
  .why-choose-wrap.style1 .wh-img-wrap {
    height: 350px;
  }
  .why-choose-wrap.style2 .wh-img-wrap {
    height: 360px;
  }
  .why-choose-wrap.style2 .wh-content .content-title {
    margin-bottom: 0;
  }
  .why-choose-wrap.style2 .wh-content .wh-card {
    padding: 18px 20px 18px;
    margin-top: 25px;
  }
  .why-choose-wrap.style2 .wh-content .wh-card .wh-icon {
    margin-bottom: 10px;
  }
  .why-choose-wrap.style3 .wh-img-wrap img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
  }
  .why-choose-wrap.style3 .wh-content .content-title {
    margin-bottom: 0;
  }
  .why-choose-wrap.style3 .wh-content .wh-card {
    padding: 18px 20px 18px;
    margin-top: 25px;
  }
  .why-choose-wrap.style3 .wh-content .wh-card .wh-icon {
    margin-bottom: 10px;
  }
  .service-card.style1 {
    padding: 20px 20px 18px;
  }
  .service-card.style1 .service-icon-wrap {
    width: 75px;
  }
  .service-card.style1 .service-icon-wrap .service-num {
    width: 75px;
    height: 65px;
    font-size: 22px;
  }
  .service-card.style1 .service-icon-wrap .service-icon {
    top: 50%;
    width: 55px;
    height: 55px;
    left: auto;
    right: -45px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .service-card.style1 .service-icon-wrap .service-icon i {
    font-size: 28px;
  }
  .service-card.style1 .service-info {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .service-card.style1 .service-info h3 {
    margin: 0 0 10px;
  }
  .service-card.style1 .service-info p {
    margin: 0 0 10px;
  }
  .service-card.style2 {
    padding: 20px 20px 18px;
  }
  .service-card.style2 .service-icon {
    margin-bottom: 10px;
  }
  .service-card.style2 .service-icon i {
    font-size: 50px;
  }
  .service-card.style2 .service-info h3 {
    margin: 0 0 10px;
  }
  .service-card.style2 .service-info p {
    margin: 0 0 10px;
  }
  .service-card.style3 {
    padding: 20px 20px 18px;
  }
  .service-card.style3 .service-icon {
    margin-bottom: 10px;
  }
  .service-card.style3 .service-icon i {
    font-size: 50px;
  }
  .service-card.style3 .service-info h3 {
    margin: 0 0 10px;
  }
  .calculate-debt .debt-content {
    padding: 0;
    background-color: transparent;
  }
  .calculate-debt .debt-content .content-title {
    margin-bottom: 20px;
  }
  .calculate-debt .container .debt-img {
    display: none;
  }
  .debt-form {
    margin-bottom: -15px;
  }
  .debt-form .form-group {
    margin-bottom: 15px;
  }
  .debt-form .form-group input {
    padding: 10px;
    font-size: 14px;
    height: 50px;
  }
  .debt-form .form-group select {
    background-position: 96% 50%;
    font-size: 14px;
    height: 50px;
    padding: 10px;
  }
  .app-wrap .content-title {
    margin-bottom: 20px;
  }
  .app-wrap.style1 {
    padding: 25px;
  }
  .app-wrap.style1 .app-img-wrap {
    margin-bottom: 0;
  }
  .app-wrap.style2 .app-img-wrap {
    height: 350px;
  }
  .testimonial-card .client-img {
    width: 60px;
    height: 60px;
  }
  .testimonial-card .client-info {
    width: calc(100% - 75px);
  }
  .testimonial-card .client-info h4 {
    font-size: 18px;
  }
  .testimonial-card .client-info span {
    font-size: 14px;
  }
  .testimonial-card.style1 {
    padding: 18px 20px 20px;
  }
  .testimonial-card.style1 .client-quote {
    margin: 0 0 15px;
  }
  .testimonial-card.style2 {
    padding: 20px 20px 18px;
  }
  .testimonial-card.style2 .client-info-wrap .client-img {
    margin: -48px 0 18px;
  }
  .testimonial-card.style2 .client-info-wrap .client-info {
    margin: 0 0 15px;
  }
  .testimonial-card.style3 {
    padding: 18px 20px 18px 42px;
  }
  .testimonial-card.style3 .client-info {
    margin: 0 0 15px;
  }
  .testimonial-card.style4 {
    padding: 20px;
  }
  .testimonial-card.style4 .client-info-area .quote-icon {
    width: 30px;
  }
  .testimonial-card.style4 .client-info-area .quote-icon i {
    font-size: 28px;
  }
  .testimonial-card.style4 .client-info-wrap {
    width: calc(100% - 30px);
  }
  .testimonial-card.style4 .client-info-wrap .client-img {
    width: 50px;
    height: 50px;
  }
  .testimonial-card.style4 .client-info-wrap .client-info {
    width: calc(100% - 65px);
    margin-left: 15px;
  }
  .testimonial-card.style4 .client-info-wrap .client-info h4 {
    font-size: 16px;
  }
  .testimonial-card.style4 .client-info-wrap .client-info span {
    font-size: 14px;
  }
  .testimonial-card.style4 .client-quote {
    margin-bottom: 15px;
  }
  .testimonial-card.style4 .ratings {
    margin-bottom: 12px;
  }
  .testimonial-card.style4 .ratings li i {
    font-size: 14px;
  }
  .testimonial-card.style4 .client-quote {
    margin-bottom: 18px;
  }
  .testimonial-slider-one .testimonial-card.style2 {
    margin-top: 38px;
  }
  .service-slider-one.owl-carousel .owl-dots,
  .testimonial-slider-one.owl-carousel .owl-dots,
  .testimonial-slider-two.owl-carousel .owl-dots {
    margin-top: 5px;
  }
  .team-card {
    padding: 20px 20px 18px;
  }
  .team-card .team-info {
    padding-top: 18px;
  }
  .apply-form {
    padding: 20px;
  }
  .apply-form .apply-form-title {
    margin-bottom: 25px;
  }
  .apply-form .apply-form-title h4 {
    font-size: 20px;
  }
  .apply-form .form-group {
    margin: 0 0 15px;
  }
  .apply-form .form-group h6 {
    font-size: 14px;
  }
  .apply-form .form-group div {
    font-size: 14px;
  }
  .apply-form .form-group input {
    height: 50px;
    padding: 10px 15px;
  }
  .apply-form .form-group select {
    height: 50px;
    padding: 10px 15px;
    font-size: 14px;
    background-position: 96% 50%;
  }
  .apply-form .btn {
    display: block;
    width: 100%;
  }
  .blog-card {
    padding: 20px 20px 16px;
  }
  .blog-card .blog-img {
    margin-bottom: 15px;
  }
  .blog-card .blog-img .blog-date {
    top: 15px;
    left: 15px;
    padding: 10px 15px 10px;
  }
  .blog-card .blog-info .blog-metainfo {
    margin-bottom: 10px;
  }
  .blog-card .blog-info .blog-metainfo li {
    padding-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }
  .blog-card .blog-info .blog-metainfo li a {
    font-size: 14px;
  }
  .blog-card .blog-info .blog-metainfo li i {
    top: 6px;
    font-size: 13px;
  }
  .blog-card .blog-info h3 {
    margin-bottom: 10px;
  }
  .blog-card .blog-info p {
    margin: 0 0 10px;
  }
  .content-feature-list.style2 {
    -webkit-columns: 1;
            columns: 1;
  }
  .blog-desc {
    padding: 0;
    border: none;
  }
  .post-img .blog-date {
    bottom: 18px;
    left: 18px;
    padding: 12px 15px 12px;
  }
  .post-metainfo {
    margin-bottom: 7px;
  }
  article h2, .service-desc h2, .terms-wrap h2, .project-desc h2,
  article h3, .service-desc h3, .terms-wrap h3, .project-desc h3 {
    margin-bottom: 12px;
  }
  article p, .service-desc p, .terms-wrap p, .project-desc p {
    margin-bottom: 15px;
  }
  article .content-feature-list, .service-desc .content-feature-list, .terms-wrap .content-feature-list, .portfolio-desc .content-feature-list {
    margin: 15px 0 15px;
  }
  article ol, .service-desc ol, .terms-wrap ol, .portfolio-desc ol {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  article h1,
  .service-desc h1,
  .project-desc h1,
  .terms-wrap h1 {
    font-size: 23px;
  }
  article h2,
  .service-desc h2,
  .project-desc h2,
  .terms-wrap h2 {
    font-size: 21px;
  }
  article h3,
  .service-desc h3,
  .project-desc h3,
  .terms-wrap h3 {
    font-size: 20px;
  }
  article h4,
  .service-desc h4,
  .project-desc h4,
  .terms-wrap h4 {
    font-size: 18px;
  }
  article h5,
  .service-desc h5,
  .project-desc h5,
  .terms-wrap h5 {
    font-size: 17px;
  }
  article h6,
  .service-desc h6,
  .project-desc h6,
  .terms-wrap h6 {
    font-size: 16px;
  }
  article ol li,
  .service-desc ol li,
  .project-desc ol li,
  .terms-wrap ol li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  article ol li:last-child,
  .service-desc ol li:last-child,
  .project-desc ol li:last-child,
  .terms-wrap ol li:last-child {
    margin-bottom: 0;
  }
  article ul li,
  .service-desc ul li,
  .project-desc ul li,
  .terms-wrap ul li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  article ul li:last-child,
  .service-desc ul li:last-child,
  .project-desc ul li:last-child,
  .terms-wrap ul li:last-child {
    margin-bottom: 0;
  }
  .wp-block-quote {
    padding: 20px 20px 20px;
    margin: 25px 0 25px;
  }
  .wp-block-quote span {
    width: 40px;
    height: 40px;
  }
  .wp-block-quote span i {
    font-size: 20px;
  }
  .wp-block-quote p {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    text-align: left;
  }
  .post-metainfo li {
    font-size: 14px;
    padding-left: 20px;
    margin-right: 20px;
  }
  .post-metainfo li:after {
    right: -12px;
    font-size: 12px;
  }
  .post-metainfo li i {
    font-size: 13px;
  }
  .post-img {
    margin: 0 0 25px;
  }
  .author-info-wrap .author-info h6 {
    font-size: 15px;
  }
  .reply-btn {
    font-size: 14px;
  }
  .post-tag {
    margin-bottom: 15px;
  }
  .post-tag ul li a {
    font-size: 13px;
  }
  .post-author {
    padding: 20px;
  }
  .post-author .post-author-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  .post-author .post-author-info {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .comment-item-wrap .comment-item {
    padding: 20px;
  }
  .comment-item-wrap .comment-item.reply {
    margin-left: 20px;
  }
  .comment-item-wrap .comment-item .comment-author-img {
    width: 55px;
    height: 55px;
  }
  .comment-item-wrap .comment-item .comment-author-wrap {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .comment-item-wrap .comment-item .comment-author-wrap .comment-author-name h5 {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
  }
  #cmt-form .comment-form .form-group label {
    font-size: 14px;
  }
  #cmt-form .comment-form .form-group input {
    height: 54px;
  }
  .sidebar .sidebar-widget {
    padding: 20px;
  }
  .sidebar .sidebar-widget h4 {
    font-size: 22px;
    margin: 0 0 20px;
    padding-bottom: 15px;
  }
  .category-box ul li a {
    font-size: 14px;
    padding: 5px 10px 5px 20px;
  }
  .category-box ul li a i {
    top: 10px;
  }
  .category-box ul li:first-child a i {
    top: 4px;
  }
  .category-box ul li:last-child a i {
    top: 10px;
  }
  .pp-post-item .pp-post-info span {
    font-size: 14px;
  }
  .pp-post-item .pp-post-info h6 {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 600;
    margin-top: -3px;
    margin-bottom: 0;
  }
  .tag-list ul li {
    margin: 9px 6px 0px 0px;
  }
  .post-navigation .next-post span,
  .post-navigation .prev-post span {
    font-size: 14px;
  }
  .contact-box-wrap .contact-item .contact-icon {
    width: 50px;
    height: 50px;
  }
  .contact-box-wrap .contact-item .contact-icon i {
    font-size: 20px;
  }
  .contact-box-wrap .contact-item .contact-info {
    width: calc(100% - 70px);
    margin-left: 20px;
  }
  .contact-box-wrap .contact-item .contact-info h3 {
    margin-bottom: 5px;
  }
  .contact-box-wrap .contact-item .contact-info a, .contact-box-wrap .contact-item .contact-info p {
    font-size: 14px;
  }
  #contactForm .form-group {
    margin: 0 0 15px;
  }
  #contactForm .form-group input {
    height: 54px;
  }
  #contactForm .form-group textarea {
    height: 150px;
  }
  .contact-widget h3 {
    font-size: 20px;
  }
  .pricing-table .pricing-features li {
    font-size: 14px;
  }
  .accordion-item .accordion-header .accordion-button {
    font-size: 16px;
  }
  .accordion-item .accordion-header .accordion-button span i {
    font-size: 15px;
  }
  .login-form-wrap {
    padding: 22px 20px 20px;
  }
  .login-form-wrap .login-header h3 {
    font-size: 20px;
  }
  .login-form-wrap .login-body .form-group {
    margin-bottom: 10px;
  }
  .login-form-wrap .login-body .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .login-form-wrap .login-body .form-group input {
    height: 50px;
  }
  .login-form-wrap .login-body .checkbox label {
    font-size: 13px;
  }
  .login-form-wrap .login-body .link {
    font-size: 13px;
  }
  .error-content img {
    max-width: 280px;
  }
  .error-content p {
    margin: 0 auto 20px;
    max-width: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  p {
    font-size: 15px;
  }
  .container-fluid {
    max-width: 720px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .pb-50 {
    padding-bottom: 20px;
  }
  .pb-60 {
    padding-bottom: 35px;
  }
  .mt-100 {
    margin-top: 70px !important;
  }
  .smb-25 {
    margin-bottom: 25px;
  }
  .smb-70 {
    margin-bottom: 70px !important;
  }
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-70 {
    padding-top: 40px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .pb-75 {
    padding-bottom: 45px;
  }
  .pb-50 {
    padding-bottom: 20px;
  }
  .pt-75 {
    padding-top: 45px;
  }
  .content-wrapper {
    margin-top: 130px;
  }
  .breadcrumb-title h2,
  .section-title h2,
  .content-title h2 {
    font-size: 30px;
  }
  .link, .btn {
    font-size: 15px;
  }
  .breadcrumb-title {
    padding: 100px 0 110px;
  }
  .breadcrumb-img {
    max-width: 260px;
  }
  .feature-item-wrap .feature-item .feature-text h3,
  .service-card .service-info h3,
  .team-card .team-info h3,
  .blog-card .blog-info h3 {
    font-size: 20px;
  }
  .hero-wrap.style1:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(54%, white), color-stop(52%, rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, white 54%, rgba(255, 255, 255, 0) 52%);
  }
  .hero-wrap.style1 .hero-content h1 {
    font-size: 40px;
  }
  .hero-wrap.style1 .hero-content p {
    padding-right: 35px;
  }
  .hero-wrap.style1 .hero-slide-item {
    padding: 160px 0 100px;
  }
  .hero-wrap.style1 .hero-slide-item:after {
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.95)), color-stop(42%, rgba(0, 0, 0, 0.82)), color-stop(95%, rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 20%, rgba(0, 0, 0, 0.82) 42%, rgba(0, 0, 0, 0) 95%);
  }
  .hero-wrap.style2 .hero-content h1 {
    font-size: 48px;
  }
  .hero-wrap.style2 .hero-img-wrap img {
    max-width: 80%;
  }
  .hero-wrap.style2 .hero-img-wrap:after {
    height: 280px;
  }
  .hero-wrap.style2 .hero-img-wrap .play-now {
    top: 30%;
  }
  .hero-wrap.style3 {
    padding: 50px 0;
    margin-top: 135px;
  }
  .hero-wrap.style3 .hero-content h1 {
    font-size: 40px;
  }
  .hero-wrap.style3 .hero-img-wrap .hero-bg-1 {
    height: 600px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-prev i {
    margin-left: -1px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-next i {
    margin-right: -1px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-prev, .hero-slider-one.owl-carousel .owl-nav button.owl-next {
    width: 25px;
    height: 70px;
  }
  .about-wrap.style1 .about-img-wrap {
    height: 550px;
  }
  .about-wrap.style2 .about-img-wrap .about-bg-2,
  .about-wrap.style2 .about-img-wrap .about-bg-3,
  .about-wrap.style2 .about-img-wrap .about-bg-4,
  .about-wrap.style2 .about-img-wrap .about-bg-5 {
    height: 340px;
  }
  .security-wrap .secure-img-wrap {
    height: 480px;
  }
  .security-wrap.style2 .secure-img-wrap {
    height: 490px;
  }
  .service-feature-wrap .service-feature-img img {
    max-width: 80%;
    display: block;
    margin: 0 auto -70px;
  }
  .calculate-debt {
    padding-top: 70px;
  }
  .why-choose-wrap.style1 .wh-img-wrap {
    height: 550px;
  }
  .app-wrap.style1 {
    padding: 40px;
  }
  .app-wrap.style1 .app-img-wrap {
    margin-bottom: 0;
  }
  .app-wrap.style2 .app-img-wrap {
    height: 500px;
  }
  .faq-img-wrap {
    height: 480px;
  }
  .calculate-debt .debt-content {
    padding: 30px 30px 5px 30px;
  }
  .calculate-debt .debt-content .content-title {
    margin-bottom: 25px;
  }
  .calculate-debt .container .debt-img {
    max-width: 80%;
    overflow: hidden;
  }
  .calculate-debt .container .debt-img img {
    margin-left: -40px;
  }
  .debt-form .form-group input {
    padding: 10px 10px;
    font-size: 14px;
  }
  .debt-form .form-group select {
    background-position: 94% 50%;
    padding-left: 10px;
    font-size: 14px;
  }
  .faq-img-wrap .faq-shape {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -1;
  }
  .faq-img-wrap .faq-bg-1 {
    height: 400px;
  }
  .testimonial-card .client-img {
    width: 65px;
    height: 65px;
  }
  .testimonial-card .client-info h4 {
    font-size: 18px;
  }
  .testimonial-card.style1 .client-info {
    width: calc(100% - 85px);
  }
  article h1,
  .service-desc h1,
  .terms-wrap h1 {
    font-size: 30px;
  }
  article h2,
  .service-desc h2,
  .terms-wrap h2 {
    font-size: 28px;
  }
  article h3,
  .service-desc h3,
  .terms-wrap h3 {
    font-size: 26px;
  }
  article h4,
  .service-desc h4,
  .terms-wrap h4 {
    font-size: 22px;
  }
  article h5,
  .service-desc h5,
  .terms-wrap h5 {
    font-size: 20px;
  }
  article h6,
  .service-desc h6,
  .terms-wrap h6 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .page-wrapper {
    overflow-x: hidden !important;
  }
  .md-none {
    display: none !important;
  }
  .mt-60 {
    margin-top: 30px !important;
  }
  .md-center {
    text-align: center !important;
  }
  .hero-wrap.style2 .hero-img-wrap, .hero-wrap.style3 .hero-img-wrap {
    margin-bottom: 30px;
  }
  .about-wrap .about-img-wrap {
    margin-bottom: 35px;
  }
  .security-wrap .secure-img-wrap {
    margin-bottom: 35px;
  }
  .service-feature-img {
    margin-top: 30px;
  }
  .why-choose-wrap.style2 .wh-img-wrap {
    margin-bottom: 30px;
  }
  .why-choose-wrap.style3 .wh-img-wrap img {
    display: block;
    margin: 0 auto;
    max-width: 85%;
  }
  .app-wrap.style1 .app-img-wrap, .app-wrap.style2 .app-img-wrap {
    margin: 0 0 30px;
  }
  .why-choose-wrap.style1 .wh-img-wrap, .why-choose-wrap.style2 .wh-img-wrap {
    margin-bottom: 35px;
  }
  .why-choose-wrap.style3 .wh-img-wrap {
    margin-bottom: 35px;
  }
  #contactForm {
    margin-bottom: 30px;
  }
  .faq-wrap #accordionExample {
    margin-top: 30px;
  }
  .login-img {
    margin-bottom: 30px;
  }
  .login-img img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }
}

@media only screen and (max-width: 1199px) {
  .lg-center {
    text-align: center !important;
  }
  .lg-none {
    display: none !important;
  }
  .page-wrapper {
    overflow-x: hidden;
  }
  .sidebar {
    margin: 50px 0 0;
  }
  .counter-card-wrap .counter-card::after {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .breadcrumb-title h2,
  .section-title h2,
  .content-title h2 {
    font-size: 32px;
  }
  .content-wrapper {
    margin-top: 130px;
  }
  .hero-wrap.style1 .hero-content h1 {
    font-size: 40px;
  }
  .hero-wrap.style1 .hero-slide-item {
    padding: 200px 0 140px;
  }
  .hero-wrap.style1 .hero-slide-item:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.85)), color-stop(48%, rgba(0, 0, 0, 0.62)), color-stop(57%, rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.62) 48%, rgba(0, 0, 0, 0) 57%);
  }
  .hero-wrap.style2 {
    margin-top: 128px;
  }
  .hero-wrap.style2 .hero-content h1 {
    font-size: 40px;
  }
  .hero-wrap.style2 .hero-img-wrap:after {
    height: 280px;
  }
  .hero-wrap.style2 .hero-img-wrap .play-now {
    top: 30%;
  }
  .hero-wrap.style3 {
    margin-top: 128px;
  }
  .hero-wrap.style3 .hero-content h1 {
    font-size: 40px;
  }
  .hero-wrap.style3 .hero-img-wrap .hero-bg-1 {
    height: 450px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-prev i {
    margin-left: -2px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-next i {
    margin-right: -2px;
  }
  .hero-slider-one.owl-carousel .owl-nav button.owl-prev, .hero-slider-one.owl-carousel .owl-nav button.owl-next {
    width: 20px;
    height: 70px;
  }
  .about-wrap.style1 .about-img-wrap .about-bg-1 {
    height: 680px;
  }
  .about-wrap.style2 .about-img-wrap .about-bg-2,
  .about-wrap.style2 .about-img-wrap .about-bg-3,
  .about-wrap.style2 .about-img-wrap .about-bg-4,
  .about-wrap.style2 .about-img-wrap .about-bg-5 {
    height: 360px;
  }
  .calculate-debt {
    padding-top: 100px;
  }
  .why-choose-wrap.style2 .wh-content .content-title, .why-choose-wrap.style3 .wh-content .content-title {
    margin-bottom: 0;
  }
  .why-choose-wrap.style2 .wh-content .wh-card, .why-choose-wrap.style3 .wh-content .wh-card {
    margin-top: 25px;
  }
  .counter-card-wrap .counter-card:after {
    display: none;
  }
  .counter-card-wrap .counter-card .counter-text h2 {
    font-size: 22px;
  }
  .counter-card-wrap .counter-card .counter-text h2 .target {
    font-size: 22px;
    top: 1px;
  }
  .counter-card-wrap .counter-card .counter-text p {
    font-size: 12px;
  }
  .app-wrap.style1 {
    padding: 45px 45px;
  }
  .app-wrap.style1 .app-img-wrap {
    margin-bottom: -88px;
  }
  .app-wrap .download-app-btn a img {
    max-width: 130px;
  }
  .testimonial-wrap.style2 .container-fluid {
    padding-left: calc((100% - 960px) /2 + 10px);
  }
  .faq-img-wrap {
    height: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  .xl-none {
    display: none !important;
  }
  .section-title.style2 p {
    position: relative;
    top: -5px;
    margin: 0;
  }
  .calculate-debt .debt-content .content-title p,
  .app-wrap .content-title p,
  .why-choose-wrap.style1 .wh-content .content-title p,
  .about-wrap.style1 .about-content .content-title p,
  .about-wrap.style2 .about-content .content-title p,
  .about-wrap.style3 .about-content .content-title p,
  .security-wrap .content-title p {
    padding-right: 30px;
  }
  .calculate-debt {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .xl-none {
    display: none !important;
  }
  .app-wrap.style1 {
    padding: 70px 60px 70px 60px;
  }
  .app-wrap.style1 .app-img-wrap {
    margin-bottom: -82px;
  }
  .testimonial-wrap.style2 .container-fluid {
    padding-left: calc((100% - 1140px) /2 + 10px);
  }
  .calculate-debt .debt-content {
    margin-left: 34px;
  }
  .faq-img-wrap {
    height: 626px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .hero-wrap.style1 .hero-content h1 {
    font-size: 56px;
  }
  .hero-wrap.style1 .hero-slide-item {
    padding: 240px 0 200px;
  }
  .hero-wrap.style2 .hero-content h1 {
    font-size: 56px;
  }
  .hero-wrap.style2 .hero-img-wrap:after {
    height: 400px;
  }
  .hero-wrap.style2 .hero-img-wrap .play-now {
    top: 30%;
  }
  .hero-wrap.style3 .hero-content h1 {
    font-size: 56px;
  }
  .hero-wrap.style3 .hero-content p {
    padding-right: 25px;
  }
  .testimonial-wrap.style2 .container-fluid {
    padding-left: calc((100% - 1320px) /2 + 10px);
  }
}

@media only screen and (min-width: 1600px) {
  .section-title h2,
  .content-title h2 {
    font-size: 38px;
  }
  .hero-wrap .container {
    max-width: 1520px;
  }
  .hero-wrap.style1 .hero-content h1 {
    font-size: 66px;
  }
  .hero-wrap.style1 .hero-slide-item {
    padding: 280px 0 240px;
  }
  .hero-wrap.style2 .hero-content h1 {
    font-size: 64px;
  }
  .hero-wrap.style3 .hero-content h1 {
    font-size: 66px;
  }
  .hero-wrap.style3 .hero-content p {
    padding-right: 45px;
  }
  .testimonial-wrap.style2 .container-fluid {
    padding-left: calc((100% - 1520px) /2 + 10px);
  }
}

@media only screen and (min-width: 2000px) {
  .container-fluid {
    max-width: 1920px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=responsive.css.map */