<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/remixicon.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/odometer.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/fancybox.css}"/>
    <link rel="stylesheet" th:href="@{/css/aos.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>

    <title>Apply</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
</head>

<body>
<!--Preloader starts-->
<div class="preloader js-preloader">
    <div class="loader loader-inner-1">
        <div class="loader loader-inner-2">
            <div class="loader loader-inner-3">
            </div>
        </div>
    </div>
</div>
<!--Preloader ends-->

<!-- Page Wrapper End -->
<div class="page-wrapper">

    <!-- Header Section Start -->
    <header class="header-wrap style2">
        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
                        <div class="menu-close xl-none">
                            <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
                        </div>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Home
                                    <i class="ri-arrow-down-s-fill"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">Home One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">Home Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">Home Three</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">
                                    About Us
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Services
                                    <i class="ri-arrow-down-s-fill"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="service-one.html" class="nav-link">Service One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="service-two.html" class="nav-link">Service Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="service-details.html" class="nav-link">Service Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    Pages
                                    <i class="ri-arrow-down-s-fill"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="apply.html" class="nav-link active">Apply For Loan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="loan-calculator.html" class="nav-link">Calculate Loan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">Pricing Plan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="team.html" class="nav-link">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">Testimonials</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            User Pages
                                            <i class="ri-arrow-right-s-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="login.html" class="nav-link">Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="register.html" class="nav-link">Register</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="recover-password.html" class="nav-link">Recover Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-of-service.html" class="nav-link">Terms of Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="error-404.html" class="nav-link">404 Error Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Blog
                                    <i class="ri-arrow-down-s-fill"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Blog Layout
                                            <i class="ri-arrow-right-s-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="blog-no-sidebar.html" class="nav-link">Blog Grid</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blog-right-sidebar.html" class="nav-link">Blog Right
                                                    Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Single Blog
                                            <i class="ri-arrow-right-s-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="blog-details-no-sidebar.html" class="nav-link">Blog Details No
                                                    Sidebar</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blog-details-left-sidebar.html" class="nav-link">Blog Details
                                                    Left Sidebar</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blog-details-right-sidebar.html" class="nav-link">Blog Details
                                                    Right Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">Contact Us</a>
                            </li>
                            <li class="nav-item xl-none">
                                <a href="login.html" class="btn style2">Log In</a>
                            </li>
                            <li class="nav-item xl-none">
                                <a href="apply.html" class="btn style2">Apply Now</a>
                            </li>
                        </ul>
                        <div class="others-options  lg-none">
                            <div class="header-btn">
                                <a href="login.html" class="btn style4">Log In</a>
                                <a href="apply.html" class="btn style2">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="mobile-bar-wrap">
                    <div class="mobile-menu xl-none">
                        <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Content Wrapper Start -->
    <div class="content-wrapper">

        <!-- Apply Section Start -->
        <section class="apply-wrap style1 ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <form action="#" class="apply-form">
                            <div class="apply-form-title">
                                <h4>Thomas Nyagwaya</h4>
                                <p>75-354973 D75</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="EC Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="number" placeholder="Loan Amount ($)">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="signatureContainer">
                                        <canvas id="signaturePad" height="200"></canvas>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <a href="login.html" class="btn style5">Clear Signature</a>
                                </div>

                                <div class="col-12">
                                    <a href="login.html" class="btn style5">Apply Now</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Apply Section End -->
    </div>
    <!-- Content Wrapper End -->

</div>
<!-- Page Wrapper End -->

<!-- Link of JS files -->

<script th:src="@{/js/signature_pad.min.js}"></script>
<script th:inline="javascript">
    var signaturePad = new SignaturePad(document.getElementById('signaturePad'));

    function saveSignature() {
        var signatureData = signaturePad.toDataURL();

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/save-signature';
        form.style.display = 'none';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'signatureData';
        input.value = signatureData;

        form.appendChild(input);
        document.body.appendChild(form);

        form.submit();
    }
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/form-validator.min.js}"></script>
<script th:src="@{/js/contact-form-script.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/odometer.min.js}"></script>
<script th:src="@{/js/jquery-magnific-popup.js}"></script>
<script th:src="@{/js/fancybox.js}"></script>
<script th:src="@{/js/jquery.appear.js}"></script>
<script th:src="@{/js/tweenmax.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>