<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- Mobile Specific Metas -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <title>top up</title>
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" th:href="@{/images/logo.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/logo.png}"/> <!-- Font -->
    <link rel="stylesheet" th:href="@{/fonts/fonts.css}"/> <!-- Icons -->
    <link rel="stylesheet" th:href="@{/fonts/icons-alipay.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css"/>
    <link data-pwa-version="set_in_manifest_and_pwa_js" rel="manifest" th:href="@{/manifest.json}">
    <link rel="apple-touch-icon" sizes="192x192" th:href="@{/app/icons/icon-192x192.png}">

    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #04AA6D;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #04AA6D;
            cursor: pointer;
        }
    </style>
</head>

<body>
<!-- preloader -->
<div class="preloader js-preloader">
    <div class="loader loader-inner-1">
        <div class="loader loader-inner-2">
            <div class="loader loader-inner-3">
            </div>
        </div>
    </div>
</div>
<!-- /preload -->
<div class="app-header st1">
    <div class="tf-container">
        <div class="tf-topbar d-flex justify-content-center align-items-center">
            <a class="back-btn" href="#"><i class="icon-left white_color"></i></a>
            <h3>Request Loan</h3>
        </div>
    </div>
</div>
<div class="card-secton topup-content">
    <div class="tf-container">
        <div class="tf-balance-box">
            <div class="tf-spacing-16"></div>
            <div class="tf-form">

                <input id="commissionRate" th:value="${#session.getAttribute('commission_rate')}" type="hidden">
                <input id="adminFeeRate" th:value="${#session.getAttribute('admin_fee_rate')}" type="hidden">
                <input id="monthlyInterestRate" th:value="${#session.getAttribute('monthly_interest_rate')}"
                       type="hidden">


                <div class="group-input input-field">
                    <p class="fw_4 d-flex justify-content-between align-items-center">
                        Name
                        <a
                                class="success_color fw_7" href="#" th:text="${#session.getAttribute('fname')}"></a></p>
                </div>

                <div class="group-input input-field">
                    <p class="fw_4 d-flex justify-content-between align-items-center">
                        Surname
                        <a
                                class="success_color fw_7" href="#" th:text="${#session.getAttribute('lname')}"></a></p>
                </div>

                <div class="group-input input-field">
                    <div class="slidecontainer">
                        <p class="secondary_color fw_4 d-flex justify-content-between align-items-center">Net Amount
                            Required <a
                                    class="success_color fw_7" href="#" id="amount"></a></p>
                        <input class="slider" id="amountRange" max="2000"
                               min="50"
                               step="10" th:max="${#session.getAttribute('maximum_loan_amount')}"
                               th:min="${#session.getAttribute('minimum_loan_amount')}"
                               th:value="${#session.getAttribute('default_loan_amount')}"
                               type="range" value="50">
                    </div>
                </div>

                <div class="group-input input-field">
                    <div class="slidecontainer">
                        <p class="secondary_color fw_4 d-flex justify-content-between align-items-center">Months to
                            Pay<a
                                    class="success_color fw_7" href="#" id="tenor"></a></p>
                        <input class="slider" id="tenorRange" max="24" min="1"
                               th:max="${#session.getAttribute('maximum_loan_tenor')}" th:min="${#session.getAttribute('minimum_loan_tenor')}"
                               step="1" type="range" value="6" th:value="${#session.getAttribute('default_loan_tenor')}">
                    </div>
                </div>

                <div class="group-input input-field">
                    <p class="error_color fw_4 d-flex justify-content-between align-items-center">
                        Monthly Deduction
                        <a
                                class="error_color fw_7" href="#" id="repayment_amount"></a></p>
                </div>

                <div class="group-input input-field">
                    <label>National ID Number</label>
                    <input class="search-field st1" disabled id="nationalId" placeholder="Format XXYYYYY"
                           required
                           th:value="${#session.getAttribute('nationalId')}"
                           type="text" value="75354973D75">
                </div>

                <div class="group-input input-field">
                    <label>EC Number</label>
                    <input class="search-field st1" id="ecnumber" required type="text">
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-navigation-bar">
        <div class="tf-container">
            <a class="tf-btn accent large" href="#" id="btn-popup-up">Continue</a>
        </div>
    </div>
</div>

<div class="tf-panel up">
    <div class="panel_overlay"></div>
    <div class="panel-box panel-up wrap-content-panel">
        <div class="heading">
            <div class="tf-container">
                <div class="d-flex align-items-center position-relative justify-content-center">
                    <i class="icon-close1 clear-panel"></i>
                    <h3>Confirm</h3>
                </div>
            </div>
        </div>
        <div class="main-topup">
            <div class="tf-container">

                <ul class="info">
                    <li><h4 class="secondary_color fw_4 d-flex justify-content-between align-items-center">
                        Loan Amount <a
                            class="on_surface_color fw_7"
                            href="#" id="principal_amount"></a></h4></li>
                    <li>
                        <h4 class="secondary_color fw_4 d-flex justify-content-between align-items-center">
                            Monthly
                            Deduction<a
                                class="secondary_color fw_7" href="#" id="repayment_amount_2"></a></h4>
                    </li>
                    <li><h3 class="secondary_color fw_4 d-flex justify-content-between align-items-center">
                        InnBucks
                        <a
                                class="success_color fw_7" href="#" id="disbursed_amount"></a></h3>
                    </li>
                </ul>

                <div class="text-center">
                    <span class="fw_3">By signing below, you confirm understanding and acceptance of the <a
                            class="on_surface_color fw_7 clear-panel" data-dismiss="modal" data-target="#modalhome2"
                            data-toggle="modal" href="#">Terms & Conditions</a></span>
                </div>

                <div class="group-input input-field d-flex align-items-center"
                     style="border: dashed; border-radius: 5px">
                    <canvas class="w-100" height="100" id="signaturePad"></canvas>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <a class="tf-btn accent large" onclick="saveSignature()"><i class="icon-secure1"></i> Continue</a>
                    <div>
                        <a class="link style1" href="#" id="clear_signature">Clear Signature</a>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>

<div class="modal fade" id="modalhome2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="heading">
                <h2>Privacy</h2>
                <p class="mt-1 fw_3">
                    A mobile app privacy policy is a legal statement that must be clear, conspicuous, and consented to
                    by all users. It must disclose how a mobile app gathers, stores, and uses the personally
                    identifiable information it collects from its users.
                    A mobile privacy app is developed and presented to users so that mobile app developers stay
                    compliant with state, federal, and international laws. As a result, they fulfill the legal
                    requirement to safeguard user privacy while protecting the company itself from legal challenges.

                </p>
                <h2 class="mt-3">Authorized Users</h2>
                <p class="fw-3">
                    A mobile app privacy policy is a legal statement that must be clear, conspicuous, and consented to
                    by all users. It must disclose how a mobile app gathers, stores, and uses the personally
                    identifiable information it collects from its users.
                </p>
                <div class="group-cb mt-3 align-items-center">
                    <div class="cb">
                        <input checked class="tf-checkbox st1" type="checkbox">
                    </div>
                    <span class="fw_3">I agree to the Terms & Conditions</span>
                </div>

            </div>
            <div class="bottom mt-5">
                <a class="tf-btn accent large" data-dismiss="modal" href="#">I Accept</a>
            </div>
        </div>
    </div>
</div>

<div class="tf-panel down" id="message-modal">
    <div class="panel_overlay"></div>
    <div class="panel-box panel-down">
        <div class="mt-5">
            <div class="tf-container">
                <form action="50_successful.html" class="tf-form-verify">
                    <div class="text-send-code">
                        <p class="fw_4">Error message goes here</p>
                    </div>
                    <div class="mt-7 mb-6">
                        <a class="tf-btn accent large" id="btn-close-error" onclick="closeErrorMsg()"><i
                                class="icon-secure1"></i> Got
                            it!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/signature_pad.min.js}"></script>

<script th:inline="javascript">

    let canvas = document.getElementById('signaturePad');
    var signaturePad = new SignaturePad(canvas, {
        penColor: "rgb(66, 133, 244)"
    });

    var button = document.getElementById('clear_signature');
    button.onclick = function () {
        signaturePad.clear();
    };

    // Handle range calculations
    var amountRange = document.getElementById("amountRange");
    var amount = document.getElementById("amount");
    amount.innerHTML = amountRange.value;

    amountRange.oninput = function () {
        amount.innerHTML = formatCurrency(this.value);
        calculateLoan();
    }

    var tenorRange = document.getElementById("tenorRange");
    var tenor = document.getElementById("tenor");
    tenor.innerHTML = tenorRange.value;

    tenorRange.oninput = function () {
        tenor.innerHTML = this.value;
        calculateLoan();
    }

    // end range calculations

    function closeErrorMsg() {
        $("#message-modal").removeClass("panel-open");
    }

    function openErrorMsg(callback) {
        $("#message-modal").addClass("panel-open");
        $(".panel-up").removeClass("panel-open");
    }

    function calculateLoan() {
        const loanData = {
            amount: parseFloat($('#amountRange').val()),
            ecnumber: $('#ecnumber').val(),
            mobileNumber: $('#mobileNumber').val(),
            tenor: parseInt($('#tenorRange').val()),
            commissionRate: parseFloat($('#commissionRate').val()),
            adminFeeRate: parseFloat($('#adminFeeRate').val()),
            monthlyInterestRate: parseFloat($('#monthlyInterestRate').val())
        };

        var loanAmount = calculatePrincipal(loanData.amount, loanData.adminFeeRate);
        var repayment = calculateRepayment(loanAmount, loanData.monthlyInterestRate, loanData.tenor);
        loanData.regularRepayment = repayment;
        var grossedMonthlyPayment = repayment / (1 - loanData.commissionRate / 100.00);

        $('#principal_amount').text(formatCurrency(loanAmount));
        $('#repayment_amount').text(formatCurrency(grossedMonthlyPayment));
        $('#repayment_amount_2').text(formatCurrency(grossedMonthlyPayment));
        $('#disbursed_amount').text(formatCurrency(loanData.amount));
    }

    function formatCurrency(amount) {
        const numericAmount = Number(amount);
        if (isNaN(numericAmount)) {
            return 'Invalid amount';
        }
        const formattedAmount = numericAmount.toLocaleString('en-ZW', {
            style: 'currency',
            currency: 'USD'
        });

        return formattedAmount;
    }

    function calculatePrincipal(amount, adminFeeRate) {
        return amount / (1 - adminFeeRate / 100);
    }

    function calculateRepayment(principal, rate, tenor) {
        const monthlyRate = rate / 100;
        const numPayments = tenor;
        const repayment = (principal * monthlyRate) / (1 - Math.pow(1 + monthlyRate, -numPayments));
        return repayment.toFixed(2);
    }

    function saveSignature() {
        var signatureData = signaturePad.toDataURL();

        if (signaturePad.isEmpty()) {
            $("#message-modal").addClass("panel-open");
            return;
        }

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/apply';
        form.style.display = 'none';

        var signature_input = document.createElement('input');
        signature_input.type = 'hidden';
        signature_input.name = 'signatureData';
        signature_input.value = signatureData;

        var ecnumber_input = document.getElementById('ecnumber');
        var amount_input = document.getElementById('amount');
        var mobileNumber_input = document.getElementById('mobileNumber');
        var payrollNumber_input = document.getElementById('payrollNumber');
        var nationalId_input = document.getElementById('nationalId');

        form.appendChild(amount_input);
        form.appendChild(ecnumber_input);
        form.appendChild(mobileNumber_input);
        form.appendChild(signature_input);
        form.appendChild(payrollNumber_input);
        form.appendChild(nationalId_input);

        document.body.appendChild(form);

        form.submit();
    }
</script>

<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/main.js}" th:version="${#dates.createNow().getTime()}" type="text/javascript"></script>


</body>

</html>