<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signature Pad Example</title>
    <link rel="stylesheet" th:href="@{/css/signature_pad.css}" />
</head>
<body>
<h1>Signature Pad Example</h1>
<div id="signatureContainer">
    <canvas id="signaturePad" width="400" height="200"></canvas>
</div>
<button id="saveButton" type="button" onclick="saveSignature()">Save Signature</button>

<script th:src="@{/js/signature_pad.min.js}"></script>
<script th:inline="javascript">
    var signaturePad = new SignaturePad(document.getElementById('signaturePad'));

    function saveSignature() {
        var signatureData = signaturePad.toDataURL();

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/save-signature';
        form.style.display = 'none';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'signatureData';
        input.value = signatureData;

        form.appendChild(input);
        document.body.appendChild(form);

        form.submit();
    }
</script>
</body>
</html>