<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- Mobile Specific Metas -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <title>Successful</title>

    <link rel="shortcut icon" th:href="@{/images/logo.png}"/>
    <link rel="stylesheet" th:href="@{/fonts/fonts.css}"/> <!-- Icons -->
    <link rel="stylesheet" th:href="@{/fonts/icons-alipay.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css"/>
</head>

<body>

<div class="preloader js-preloader">
    <div class="loader loader-inner-1">
        <div class="loader loader-inner-2">
            <div class="loader loader-inner-3">
            </div>
        </div>
    </div>
</div>

<div class="wrap-success">
    <div class="success_box">
        <div class="icon-1 ani3">
            <span class="circle-box lg bg-circle check-icon"></span>
        </div>
        <div class="icon-2 ani5">
            <span class="circle-box md bg-circle"></span>
        </div>
        <div class="icon-3 ani8">
            <span class="circle-box md bg-circle"></span>
        </div>
        <div class="icon-4 ani2">
            <span class="circle-box sm bg-circle"></span>
        </div>


        <div class="content">
            <div class="top">
                <h2>Lekker!</h2>
                <p>Your Loan is now being processed!</p>
            </div>
            <div class="tf-spacing-16"></div>
            <div class="inner">
                <p class="secondary_color fw_6">Reference</p>
                <h1 th:text="${internalReference}"></h1>
            </div>
        </div>
        <a class="tf-btn accent large" href="home.html">Done</a>

    </div>

    <span class="line-through through-1"></span>
    <span class="line-through through-2"></span>
    <span class="line-through through-3"></span>
    <span class="line-through through-4"></span>
    <span class="line-through through-5"></span>
    <span class="line-through through-6"></span>

</div>


<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>

</body>

</html>